body{ 
background-color:#DED1C6;
font-family: courgette;}
img {
height: 325px;
width: 455px;
margin: 10px;
border: 5px solid #607099;
}
h1{
color: #607099;
font-size: 65px;
text-align: center;
margin: 15px;
}