paraOne{
    display:inline-block;
    
}
paraTwo{
   display:inline-block;
   
}
p{
    border: 5px solid #607099;
    border-radius: 25px;
    padding:10px;
    text-align: center;
    display: inline-block;
    width: 300px;
    margin-left: 300px;
    margin-top: 300px;
    

}
